<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Kysymykset</h1>
        
        <ul>
            <li th:each="kysymys : ${kysymykset}">
                <span the:text="${kysymys.kurssi}"></span>
            </li>
        </ul>
        
        <h2>Lisää uusi kysymys</h2>
        
        <form method="POST" action="/">
            Kurssi:
            <input type="text" name="kurssi"/>
            Aihe:
            <input type="text" name="aihe"/>
            Kysymysteksti:
            <input type="text" name="kysymysteksti"/>
            <input type="submit" value="Lisää kysymys"/>
        </form>


        <p><a href="/opiskelijat">Tästä opiskelijalistaukseen.</a></p>
    </body>
</html>